#mc img
{
	width:100%;
}
#footer-gutter
{
	background-color:#fff;
    background-image: url("../images/footer/Footer_ColourBars.png");
    background-repeat:repeat-x;
    height: 10px;
    width: 100%
}
#footer-credits
{
    /*background-image: url("../images/header/IMAGE_BACKGROUND.jpg");*/
    width: 100%
}
#footer 
{
	background-color:#fff;
	padding:20px 0;
}
#footer #fb
{
    /*background-image: url("../images/footer/ICON_FB.png");*/
    background-repeat:no-repeat;
    padding-left:60px;
    line-height: 27px;
}
#footer #fb a
{  
    color:#58C9E8;
}
#footer h6
{
	color:#58C9E8;
	margin: 0px;
}
#footer p
{
	margin:0px;
	padding: 0px;
}
#business-hours
{
	text-align: center;
}
#business-hours h6,
#business-hours p
{
	font-size:16px;
	font-family: "Lora",serif;
}
#footer-credits
{
	color:#939598;
	padding:20px 0 0;
	font-size: 55%;
}
#footer-credits a
{
	padding:0 8px;
    color: #939598;
}